<!DOCTYPE html>
{% load static %}
<html lang='pt-br'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    
    {% block script %}

    {% endblock %}
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light row">
        <div class="container-fluid">
          <a class="navbar-brand" style="font-size:25px;font-weight:bolder;" href="{% url 'apploto:index' %}">AppLoto</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-brand navbar-nav me-auto mb-2 mb-lg-0 ">
              <li class="nav-item">
                {% if user.is_authenticated %}
                <li>
                  <a href="" class="nav-link" id="usuario" style="font-weight: bolder ;text-transform: capitalize;">Olá, {{ user.get_username }}</a>
                </li>
                {% if user.is_staff %}
                <li>
                  <a href="{% url 'admin:index' %}" class="nav-link" id="usuario" style="font-weight: bolder ;text-transform: capitalize;">admin</a>
                </li>
                {% endif %}
                <li>
                  <a class="nav-link active" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
                </li>
                {% else %}
                <li>
                  <a class="nav-link active" href="{% url 'login'%}?next={{request.path}}">Login</a>
                </li>
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section class="corpo">
      {% if user.is_authenticated %}
      <div class="row">
        <div class="col-1"></div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light col-10">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent1">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 menu-index">
                <li class="nav-item">
                  <a href="{% url 'apploto:index' %}">Último Sorteio Realizado</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'apploto:mov' %}">Tabela de Movimentação</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'apploto:sorteia' %}">Gerar novo jogo</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'apploto:descubra' %}">Descubra se Ganhou</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'apploto:planilha' %}">Gerar Planilha de Movimentação</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="col-1"></div>
      </div>  
      {% endif %}
      {% block conteudo %}
      {% endblock %}
    </section>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  </body>
</html>