{% extends 'base.html' %}
{% block title %}Boa Sorte!{% endblock %}
{% block conteudo %}
{% if last %}
<div class="col-4"></div>
<div class="simulador_loterias col-4 col-sm-12">
    <ul class="numeros">
        <li>
            <span>{{ last.0 }}</span>
            <span>{{ last.1 }}</span>
            <span>{{ last.2 }}</span>
            <span>{{ last.3 }}</span>
            <span>{{ last.4 }}</span>
        </li>
        <li>
            <span>{{ last.5 }}</span>
            <span>{{ last.6 }}</span>
            <span>{{ last.7 }}</span>
            <span>{{ last.8 }}</span>
            <span>{{ last.9 }}</span>
        </li>
        <li>
            <span>{{ last.10 }}</span>
            <span>{{ last.11 }}</span>
            <span>{{ last.12 }}</span>
            <span>{{ last.13 }}</span>
            <span>{{ last.14 }}</span>
        </li>
    </ul>
</div>
<div class="col-4"></div>
{% endif %}
{% endblock %}
