{% extends 'base.html' %}

{% block title %}Boa Sorte!{% endblock %}

{% block conteudo %}
  <h1>Sua Página</h1>
  
  <button onclick="downloadPlanilha()">Baixar Planilha</button>
  <p>Caso não funcione siga o link oficial da caixa:<br><a href="//loterias.caixa.gov.br/Paginas/Lotofacil.aspx" target="_blank">Página Oficial Caixa</a></p>

  <script>
    function downloadPlanilha() {
      // Substitua o URL abaixo pelo link da planilha desejada
      var planilhaUrl = 'blob:https://loterias.caixa.gov.br/fc88023d-55c3-498a-9333-a7151add4f30';

      // Cria um elemento de link temporário
      var link = document.createElement('a');
      link.href = planilhaUrl;

      // Define o atributo 'download' para forçar o download
      link.download = 'nome_da_planilha.xlsx';  // Substitua 'nome_da_planilha.xlsx' pelo nome desejado

      // Adiciona o link ao corpo do documento
      document.body.appendChild(link);

      // Simula um clique no link para iniciar o download
      link.click();

      // Remove o link temporário do corpo do documento
      document.body.removeChild(link);
    }
  </script>
{% endblock %}
