{% extends 'base.html' %}
{% block title %}Boa Sorte!{% endblock %}
{% block conteudo %}
    {% if novo_sorteio %}
        <div class="simulador_loterias">
            <ul class="numeros">
                <li>
                    <span>{{ novo_sorteio.0 }}</span>
                    <span>{{ novo_sorteio.1 }}</span>
                    <span>{{ novo_sorteio.2 }}</span>
                    <span>{{ novo_sorteio.3 }}</span>
                    <span>{{ novo_sorteio.4 }}</span>
                </li>
                <li>
                    <span>{{ novo_sorteio.5 }}</span>
                    <span>{{ novo_sorteio.6 }}</span>
                    <span>{{ novo_sorteio.7 }}</span>
                    <span>{{ novo_sorteio.8 }}</span>
                    <span>{{ novo_sorteio.9 }}</span>
                </li>
                <li>
                    <span>{{ novo_sorteio.10 }}</span>
                    <span>{{ novo_sorteio.11 }}</span>
                    <span>{{ novo_sorteio.12 }}</span>
                    <span>{{ novo_sorteio.13 }}</span>
                    <span>{{ novo_sorteio.14 }}</span>
                </li>
            </ul>
            <p>{{ novo_sorteio }}</p>
        </div>
        <div class="button">
            <a class="button" href="{% url 'apploto:sorteia' %}">Sortear!</a>
        </div>
        <div class="properties">
            <ul>
                <li>
                    <span>Repetidas...:&nbsp;&nbsp;&nbsp;{{ countRepetidas }}&nbsp;</span>
                    <span>Fibonacci....:&nbsp;&nbsp;&nbsp;{{ fibo }}&nbsp;</span>
                    <span>Primo...........:&nbsp;&nbsp;&nbsp;{{ primo }}&nbsp;</span>
                </li>
                <li>
                    <span>Impar...........:&nbsp;&nbsp;&nbsp;{{ impar }}&nbsp;</span>
                    <span>Moldura......:&nbsp;&nbsp;&nbsp;{{ moldura }}&nbsp;</span>
                    <span>Multiplo......:&nbsp;&nbsp;&nbsp;{{ multiplo }}&nbsp;</span>
                </li>
                <li>
                    <span>Soma............:&nbsp;&nbsp;&nbsp;{{ soma }}&nbsp;</span>
                </li>
                <form action="sorteia" method="post">
                    {% csrf_token %}
                    <table>
                        Caso queira informe as dezenas fixas aqui <br>separadas por vírgula: {{ form.as_table }}
                    </table>
                    <input class="button" style="margin-top:10px;" type="submit" value="Gerar com Fixas">
                </form>
                {% if lista_fixas %}
                <li>Fixas : {{ lista_fixas }}</li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
