{% extends 'base.html' %}

{% block script %}

<script language="Javascript">
    document.addEventListener('DOMContentLoaded', function() {
        let dezena = document.querySelectorAll('td');
        let	count1 = 0 ;
        let	count2 = 0 ;
        let	count3 = 0 ;
        let	count4 = 0 ;
        let	count5 = 0 ;
        let	count6 = 0 ;
        let	count7 = 0 ;
        let	count8 = 0 ;
        let	count9 = 0 ;
        let	count10 = 0 ;
        let	count11 = 0 ;
        let	count12 = 0 ;
        let	count13 = 0 ;
        let	count14 = 0 ;
        let	count15 = 0 ;
        let	count16 = 0 ;
        let	count17 = 0 ;
        let	count18 = 0 ;
        let	count19 = 0 ;
        let	count20 = 0 ;
        let	count21 = 0 ;
        let	count22 = 0 ;
        let	count23 = 0 ;
        let	count24 = 0 ;
        let	count25 = 0 ;
    
        const lista = document.getElementById("table-dark");
        
        dezena.forEach(element => {
            if (element.innerHTML === '1'){
                count1 += 1
            }   
            if (element.innerHTML === '2'){
                count2 += 1
            }
            if (element.innerHTML === '3'){
                count3 += 1
            }
            if (element.innerHTML === '4'){
                count4 += 1
            }
            if (element.innerHTML === '5'){
                count5 += 1
            }
            if (element.innerHTML === '6'){
                count6 += 1
            }
            if (element.innerHTML === '7'){
                count7 += 1
            }
            if (element.innerHTML === '8'){
                count8 += 1
            }
            if (element.innerHTML === '9'){
                count9 += 1
            }
            if (element.innerHTML === '10'){
                count10 += 1
            }
            if (element.innerHTML === '11'){
                count11 += 1
            }
            if (element.innerHTML === '12'){
                count12 += 1
            }
            if (element.innerHTML === '13'){
                count13 += 1
            }
            if (element.innerHTML === '14'){
                count14 += 1
            }
            if (element.innerHTML === '15'){
                count15 += 1
            }
            if (element.innerHTML === '16'){
                count16 += 1
            }
            if (element.innerHTML === '17'){
                count17 += 1
            }
            if (element.innerHTML === '18'){
                count18 += 1
            }
            if (element.innerHTML === '19'){
                count19 += 1
            }
            if (element.innerHTML === '20'){
                count20 += 1
            }
            if (element.innerHTML === '21'){
                count21 += 1
            }
            if (element.innerHTML === '22'){
                count22 += 1
            }
            if (element.innerHTML === '23'){
                count23 += 1
            }
            if (element.innerHTML === '24'){
                count24 += 1
            }
            if (element.innerHTML === '25'){
                count25 += 1
            }
        })   
        const list = [count1, count2, count3, count4, count5, count6, count7, count8, count9, count10, count11, count12, count13, count14, count15, count16, count17, count18, count19, count20, count21, count22, count23, count24, count25];

        for (var i=0 ; i < 25; i++){
            v = "d"+(i+1);
            v = document.createElement('td');
            v.textContent = list[i]
            v.style.color = 'black';
            v.style.fontWeight = "bolder";
            if (list[i] >= 5) {
                v.style.backgroundColor = "red";
            } 
            if (list[i] <= 1 ){
                v.style.backgroundColor = "yellow";
            }
            if(list[i] > 1 && list[i] < 5){
                v.style.backgroundColor = "green";
            }
            console.log(list[i]);
            lista.appendChild(v);
        }
    
    });
    
</script>        
{%endblock%}

{% block title %}
Tabela de Movimentação
{% endblock %}

{% block conteudo %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 mov1">
            <div class="container-fluid">
                <p style="color: black;font-weight: bolder;border: 1px solid black;display: block;width: 250px; padding: 5px;text-align: center;">Ultimo concurso: {{ last_concurso }}</p> 
                <div class="col-11"  style="text-align: center;">
                    <h2>
                        Últimos {{ qtd_jogos }} jogos:
                    </h2>    
                </div>
                
                <table id="table-dark" class="table-dark col-12">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">D1</th>
                            <th scope="col">D2</th>
                            <th scope="col">D3</th>
                            <th scope="col">D4</th>
                            <th scope="col">D5</th>
                            <th scope="col">D6</th>
                            <th scope="col">D7</th>
                            <th scope="col">D8</th>
                            <th scope="col">D9</th>
                            <th scope="col">D10</th>
                            <th scope="col">D11</th>
                            <th scope="col">D12</th>
                            <th scope="col">D13</th>
                            <th scope="col">D14</th>
                            <th scope="col">D15</th>
                            <th scope="col">D16</th>
                            <th scope="col">D17</th>
                            <th scope="col">D18</th>
                            <th scope="col">D19</th>
                            <th scope="col">D20</th>
                            <th scope="col">D21</th>
                            <th scope="col">D22</th>
                            <th scope="col">D23</th>
                            <th scope="col">D24</th>
                            <th scope="col">D25</th>
                        </tr>
                    </thead>
                    {% if vetJogos %}
                        {% for jogo in vetJogos %}
                        <tr>
                            {% if jogo.0 == 'x' %}
                            <td style="background-color:rgb(242, 243, 157);"></td>
                            {% else %}
                            <td style="background-color:808080">{{ jogo.0 }}</td>
                            {% endif %}
                            {% if jogo.1 == 'x' %}
                            <td style="background-color:rgb(242, 243, 157);"></td>
                            {% else %}
                            <td style="background-color:808080">{{ jogo.1 }}</td>
                            {% endif %}
                            {% if jogo.2 == 'x' %}
                            <td style="background-color:rgb(242, 243, 157);"></td>
                            {% else %}
                            <td style="background-color:808080">{{ jogo.2 }}</td>
                            {% endif %}
                            {% if jogo.3 == 'x' %}
                            <td style="background-color:rgb(242, 243, 157);"></td>
                            {% else %}
                            <td style="background-color:808080">{{ jogo.3 }}</td>
                            {% endif %}
                            {% if jogo.4 == 'x' %}
                            <td style="background-color:rgb(242, 243, 157);"></td>
                            {% else %}
                            <td style="background-color:808080">{{ jogo.4 }}</td>
                            {% endif %}
                            {% if jogo.5 == 'x' %}
                            <td style="background-color:rgb(242, 243, 157);"></td>
                            {% else %}
                            <td style="background-color:808080">{{ jogo.5 }}</td>
                            {% endif %}
                            {% if jogo.6 == 'x' %}
                            <td style="background-color:rgb(242, 243, 157);"></td>
                            {% else %}
                            <td style="background-color:808080">{{ jogo.6 }}</td>
                            {% endif %}
                            {% if jogo.7 == 'x' %}
                            <td style="background-color:rgb(242, 243, 157);"></td>
                            {% else %}
                            <td style="background-color:808080">{{ jogo.7 }}</td>
                            {% endif %}
                            {% if jogo.8 == 'x' %}
                            <td style="background-color:rgb(242, 243, 157);"></td>
                            {% else %}
                            <td style="background-color:808080">{{ jogo.8 }}</td>
                            {% endif %}
                            {% if jogo.9 == 'x' %}
                            <td style="background-color:rgb(242, 243, 157);"></td>
                            {% else %}
                            <td style="background-color:808080">{{ jogo.9 }}</td>
                            {% endif %}
                            {% if jogo.10 == 'x' %}
                            <td style="background-color:rgb(242, 243, 157);"></td>
                            {% else %}
                            <td style="background-color:808080">{{ jogo.10 }}</td>
                            {% endif %}
                            {% if jogo.11 == 'x' %}
                            <td style="background-color:rgb(242, 243, 157);"></td>
                            {% else %}
                            <td style="background-color:808080">{{ jogo.11 }}</td>
                            {% endif %}
                            {% if jogo.12 == 'x' %}
                            <td style="background-color:rgb(242, 243, 157);"></td>
                            {% else %}
                            <td style="background-color:808080">{{ jogo.12 }}</td>
                            {% endif %}
                            {% if jogo.13 == 'x' %}
                            <td style="background-color:rgb(242, 243, 157);"></td>
                            {% else %}
                            <td style="background-color:808080">{{ jogo.13 }}</td>
                            {% endif %}
                            {% if jogo.14 == 'x' %}
                            <td style="background-color:rgb(242, 243, 157);"></td>
                            {% else %}
                            <td style="background-color:808080">{{ jogo.14 }}</td>
                            {% endif %}
                            {% if jogo.15 == 'x' %}
                            <td style="background-color:rgb(242, 243, 157);"></td>
                            {% else %}
                            <td style="background-color:808080">{{ jogo.15 }}</td>
                            {% endif %}
                            {% if jogo.16 == 'x' %}
                            <td style="background-color:rgb(242, 243, 157);"></td>
                            {% else %}
                            <td style="background-color:808080">{{ jogo.16 }}</td>
                            {% endif %}
                            {% if jogo.17 == 'x' %}
                            <td style="background-color:rgb(242, 243, 157);"></td>
                            {% else %}
                            <td style="background-color:808080">{{ jogo.17 }}</td>
                            {% endif %}
                            {% if jogo.18 == 'x' %}
                            <td style="background-color:rgb(242, 243, 157);"></td>
                            {% else %}
                            <td style="background-color:808080">{{ jogo.18 }}</td>
                            {% endif %}
                            {% if jogo.19 == 'x' %}
                            <td style="background-color:rgb(242, 243, 157);"></td>
                            {% else %}
                            <td style="background-color:808080">{{ jogo.19 }}</td>
                            {% endif %}
                            {% if jogo.20 == 'x' %}
                            <td style="background-color:rgb(242, 243, 157);"></td>
                            {% else %}
                            <td style="background-color:808080">{{ jogo.20 }}</td>
                            {% endif %}
                            {% if jogo.21 == 'x' %}
                            <td style="background-color:rgb(242, 243, 157);"></td>
                            {% else %}
                            <td style="background-color:808080">{{ jogo.21 }}</td>
                            {% endif %}
                            {% if jogo.22 == 'x' %}
                            <td style="background-color:rgb(242, 243, 157);"></td>
                            {% else %}
                            <td style="background-color:808080">{{ jogo.22 }}</td>
                            {% endif %}
                            {% if jogo.23 == 'x' %}
                            <td style="background-color:rgb(242, 243, 157);"></td>
                            {% else %}
                            <td style="background-color:808080">{{ jogo.23 }}</td>
                            {% endif %}
                            {% if jogo.24 == 'x' %}
                            <td style="background-color:rgb(242, 243, 157);"></td>
                            {% else %}
                            <td style="background-color:808080">{{ jogo.24 }}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <!--
    <div class="row">
        <div class="col-2"></div>
        <div class="container col-8 mov">
            <h1>Tabelas dos últimos 10 sorteios</h1>
            <ul>
                {% for jogo in vetJogos1 %}
                    <li class="row">
                        {% if jogo.0 == 'x' %}
                            <span style="background-color:rgb(242, 243, 157);" class="col-2"> </span>
                        {% else %}
                            <span style="background-color:rgb(255, 255, 255);" class="col-2">{{jogo.0}}</span>
                        {% endif %}
                        {% if jogo.1 == 'x' %}
                            <span style="background-color:rgb(242, 243, 157);" class="col-2"> </span>
                        {% else %}
                            <span style="background-color:rgb(255, 255, 255);" class="col-2">{{jogo.1}}</span>
                        {% endif %}
                        {% if jogo.2 == 'x' %}
                            <span style="background-color:rgb(242, 243, 157);" class="col-2"> </span>
                        {% else %}
                            <span style="background-color:rgb(255, 255, 255);" class="col-2">{{jogo.2}}</span>
                        {% endif %}
                        {% if jogo.3 == 'x' %}
                            <span style="background-color:rgb(242, 243, 157);" class="col-2"> </span>
                        {% else %}
                            <span style="background-color:rgb(255, 255, 255);" class="col-2">{{jogo.3}}</span>
                        {% endif %}
                        {% if jogo.4 == 'x' %}
                            <span style="background-color:rgb(242, 243, 157);" class="col-2"> </span>
                        {% else %}
                            <span style="background-color:rgb(255, 255, 255);" class="col-2">{{jogo.4}}</span>
                        {% endif %}
                        {% if jogo.5 == 'x' %}
                            <span style="background-color:rgb(242, 243, 157);" class="col-2"> </span>
                        {% else %}
                            <span style="background-color:rgb(255, 255, 255);" class="col-2">{{jogo.5}}</span>
                        {% endif %}
                        {% if jogo.6 == 'x' %}
                            <span style="background-color:rgb(242, 243, 157);" class="col-2"> </span>
                        {% else %}
                            <span style="background-color:rgb(255, 255, 255);" class="col-2">{{jogo.6}}</span>
                        {% endif %}
                        {% if jogo.7 == 'x' %}
                            <span style="background-color:rgb(242, 243, 157);" class="col-2"> </span>
                        {% else %}
                            <span style="background-color:rgb(255, 255, 255);" class="col-2">{{jogo.7}}</span>
                        {% endif %}
                        {% if jogo.8 == 'x' %}
                            <span style="background-color:rgb(242, 243, 157);" class="col-2"> </span>
                        {% else %}
                            <span style="background-color:rgb(255, 255, 255);" class="col-2">{{jogo.8}}</span>
                        {% endif %}
                        {% if jogo.9 == 'x' %}
                            <span style="background-color:rgb(242, 243, 157);" class="col-2"> </span>
                        {% else %}
                            <span style="background-color:rgb(255, 255, 255);" class="col-2">{{jogo.9}}</span>
                        {% endif %}
                        {% if jogo.10 == 'x' %}
                            <span style="background-color:rgb(242, 243, 157);" class="col-2"> </span>
                        {% else %}
                            <span style="background-color:rgb(255, 255, 255);" class="col-2">{{jogo.10}}</span>
                        {% endif %}
                        {% if jogo.11 == 'x' %}
                            <span style="background-color:rgb(242, 243, 157);" class="col-2"> </span>
                        {% else %}
                            <span style="background-color:rgb(255, 255, 255);" class="col-2">{{jogo.11}}</span>
                        {% endif %}
                        {% if jogo.12 == 'x' %}
                            <span style="background-color:rgb(242, 243, 157);" class="col-2"> </span>
                        {% else %}
                            <span style="background-color:rgb(255, 255, 255);" class="col-2">{{jogo.12}}</span>
                        {% endif %}
                        {% if jogo.13 == 'x' %}
                            <span style="background-color:rgb(242, 243, 157);" class="col-2"> </span>
                        {% else %}
                            <span style="background-color:rgb(255, 255, 255);" class="col-2">{{jogo.13}}</span>
                        {% endif %}
                        {% if jogo.14 == 'x' %}
                            <span style="background-color:rgb(242, 243, 157);" class="col-2"> </span>
                        {% else %}
                            <span style="background-color:rgb(255, 255, 255);" class="col-2">{{jogo.14}}</span>
                        {% endif %}
                        {% if jogo.15 == 'x' %}
                            <span style="background-color:rgb(242, 243, 157);" class="col-2"> </span>
                        {% else %}
                            <span style="background-color:rgb(255, 255, 255);" class="col-2">{{jogo.15}}</span>
                        {% endif %}
                        {% if jogo.16 == 'x' %}
                            <span style="background-color:rgb(242, 243, 157);" class="col-2"> </span>
                        {% else %}
                            <span style="background-color:rgb(255, 255, 255);" class="col-2">{{jogo.16}}</span>
                        {% endif %}
                        {% if jogo.17 == 'x' %}
                            <span style="background-color:rgb(242, 243, 157);" class="col-2"> </span>
                        {% else %}
                            <span style="background-color:rgb(255, 255, 255);" class="col-2">{{jogo.17}}</span>
                        {% endif %}
                        {% if jogo.18 == 'x' %}
                            <span style="background-color:rgb(242, 243, 157);" class="col-2"> </span>
                        {% else %}
                            <span style="background-color:rgb(255, 255, 255);" class="col-2">{{jogo.18}}</span>
                        {% endif %}
                        {% if jogo.19 == 'x' %}
                            <span style="background-color:rgb(242, 243, 157);" class="col-2"> </span>
                        {% else %}
                            <span style="background-color:rgb(255, 255, 255);" class="col-2">{{jogo.19}}</span>
                        {% endif %}
                        {% if jogo.20 == 'x' %}
                            <span style="background-color:rgb(242, 243, 157);" class="col-2"> </span>
                        {% else %}
                            <span style="background-color:rgb(255, 255, 255);" class="col-2">{{jogo.20}}</span>
                        {% endif %}
                        {% if jogo.21 == 'x' %}
                            <span style="background-color:rgb(242, 243, 157);" class="col-2"> </span>
                        {% else %}
                            <span style="background-color:rgb(255, 255, 255);" class="col-2">{{jogo.21}}</span>
                        {% endif %}
                        {% if jogo.22 == 'x' %}
                            <span style="background-color:rgb(242, 243, 157);" class="col-2"> </span>
                        {% else %}
                            <span style="background-color:rgb(255, 255, 255);" class="col-2">{{jogo.22}}</span>
                        {% endif %}
                        {% if jogo.23 == 'x' %}
                            <span style="background-color:rgb(242, 243, 157);" class="col-2"> </span>
                        {% else %}
                            <span style="background-color:rgb(255, 255, 255);" class="col-2">{{jogo.23}}</span>
                        {% endif %}
                        {% if jogo.24 == 'x' %}
                            <span style="background-color:rgb(242, 243, 157);" class="col-2">&nbsp;</span>
                        {% else %}
                            <span style="background-color:rgb(255, 255, 255);" class="col-2">{{jogo.24}}</span>
                        {% endif %}
                    </li>
                    <br>
                
                {% endfor %}
            </ul>
        </div>
        <div class="col-2"></div>
    </div>
    -->
{% endblock %}
