{% extends 'base.html' %}
{% block title %}
Tabela de Movimentação
{% endblock %}
{% block script %}
{% endblock %}
{% block conteudo %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8 mov1">
        <div class="container-fluid">
          <p style="color: black;font-weight: bolder;border: 1px solid black;display: block;width: 250px; padding: 5px;text-align: center;">Ultimo concurso: {{ last_concurso }}<br> Realizado em: {{ data_sorteio }}</p> 
            <div class="col-11"  style="text-align: center;">
                <h2>
                  Últimos {{ qtd_jogos }} jogos:<br>
                </h2>    
            </div>
<table border="1">
        <thead>
            <tr>
                <th>D1</th>
                <th>D2</th>
                <th>D3</th>
                <th>D4</th>
                <th>D5</th>
                <th>D6</th>
                <th>D7</th>
                <th>D8</th>
                <th>D9</th>
                <th>D10</th>
                <th>D11</th>
                <th>D12</th>
                <th>D13</th>
                <th>D14</th>
                <th>D15</th>
                <th>D16</th>
                <th>D17</th>
                <th>D18</th>
                <th>D19</th>
                <th>D20</th>
                <th>D21</th>
                <th>D22</th>
                <th>D23</th>
                <th>D24</th>
                <th>D25</th>
            </tr>
        </thead>
        <tbody>
            {% for jogo in dados %}
            <tr>
                <td>{{ jogo.B1 }}</td>
                <td>{{ jogo.B2 }}</td>
                <td>{{ jogo.B3 }}</td>
                <td>{{ jogo.B4 }}</td>
                <td>{{ jogo.B5 }}</td>
                <td>{{ jogo.B6 }}</td>
                <td>{{ jogo.B7 }}</td>
                <td>{{ jogo.B8 }}</td>
                <td>{{ jogo.B9 }}</td>
                <td>{{ jogo.B10 }}</td>
                <td>{{ jogo.B11 }}</td>
                <td>{{ jogo.B12 }}</td>
                <td>{{ jogo.B13 }}</td>
                <td>{{ jogo.B14 }}</td>
                <td>{{ jogo.B15 }}</td>
                <td>{{ jogo.B16 }}</td>
                <td>{{ jogo.B17 }}</td>
                <td>{{ jogo.B18 }}</td>
                <td>{{ jogo.B19 }}</td>
                <td>{{ jogo.B20 }}</td>
                <td>{{ jogo.B21 }}</td>
                <td>{{ jogo.B22 }}</td>
                <td>{{ jogo.B23 }}</td>
                <td>{{ jogo.B24 }}</td>
                <td>{{ jogo.B25 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
<div class="col-2"></div>
</div>
<div class="row" style="text-align: center; margin: 0 auto;">
<div class="col-12">
    <br>
    <h3>Ocorrencia de Fibonnaci, Impares e números Primos nos últimos {{ qtd_jogos }} concursos.</h3>
</div>
</div>

{% endblock %}
