*{
    list-style: none;
}
ul.menu-index {
    background-color: #cecece;
    font-weight: bolder;
    font-size: 20px;
}
ul.menu-index a{
    color: black;
    margin: 10px;
    width: 100%;
}

.table th, td, tr, thead, tbody {
    border: 2px solid black ;
}

.table { 
    margin: 0 auto;
}

.table-last td,tr,thead, tbody {
    border: none;
}

.table-last {
    margin-top: 10px;
}

.table-last thead {
    background-color: black;
}

.index {
    margin-top: 30px;
}

.login {
    margin: 0 auto;
    margin-top: 10%;
    background-color: #cecece;
    padding: 10px;
}

div#navbarSupportedContent {
    text-align: right;
    padding-left: 70%;
}

div#navbarSupportedContent a#usuario{
    color: black;
    font-weight: bolder;
}

.tabela {
    margin: 0 auto;
    width: 400px;
    height: 300px;
    text-align: center;
}

div#button {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

div.simulador_loterias{
    border: 2px solid black;
    margin: 0 auto ;
    width: 700px;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
}

.simulador_loterias ul.numeros span {
    color:black;
    font-weight: 900;
    font-size: 45px;
    padding: 20px;
}

a.button { 
    background-color: #cecece;
    color: Black;
    font-weight: 500;
    font-size: 20px;
    border-radius: 5px;
    padding: 15px;
    margin-top: 15px;   
}
div.button{
    text-align: center;
    margin-top: 25px;
}

div.properties ul {
    margin-left: 30%;
    margin-top: 50px;
    color: Black;
    font-weight: 500;
    font-size: 30px;
}

div.mov ul li span {
    border : 1px solid black ;
    padding: 5px;
    text-align: center;
    font-weight: bolder;
}

div.mov{
    margin-top: 10px;
    text-align: center;
    position: absolute;
    top: 950px;
    left: 270px;
}

div.mov1 {
    margin-top: 10px;
    display: block;
    text-align: center;
    position: absolute;
    left: 195px;
}

div.mov h1{
    color: black;
    margin-bottom: 20px;
}