/* Add a class to the header for styling */
.site-header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  
  /* Adjust the margin of the body to account for the fixed header */
  .corpo {
    margin-top: 160px; /* Adjust this value based on your header's height */
    display: block;
    padding: 20px;
    margin-left: 50px;
  }
  

  /* Rest of your existing styles */
  